# Python
__pycache__/
*.pyc
*.pyo
*.pyd
streamlit/cache/

# MLflow (base de données locale et runs)
mlflow.db
mlruns/

# Environnements virtuels Python
ml/env_ml/
env_ml/
venv/
.venv/
env/*.py[cod]
*.py[cod]
